body {
    background-color: #ededed;
}

.nopad {
    padding: 0;
}

.sidepan ul {
    list-style: none;
    padding: 0;
}

.sidepan > div > ul > li {
    padding: 0.8em;
    font-size: .975rem;
    font-weight: 500;
    color: #3c3c3c;
}

.sidepan > div > ul > li > a > i {
    font-size: 1.3rem;
}

.active-li {
    background-color: #f1fbff;
}

.h-screen {
    height: 100vh;
}

.inst-logo {
    min-height: 10%;
}

.content-area {
    background-color: #f1f1f1;
}

#zein-nav {
    width: 16%;
    top: 0;
    background-color: white;
}

#zein-header > .header-content {
    z-index: 1;
    display: inline-flex;
    position: relative;
    left: 17%;
    width: 80%;
}

.search-menu {
    background-image: url(../images/ios7-search.png);
    background-repeat: no-repeat;
    background-position: 93% center;
    background-size: 22px;
}

.search-menu > input {
    border: none;
    outline: none;
    background: transparent;
}

.search-menu > input:focus {
    border: none;
    outline: none;
    background: transparent;
}

.mainContentDashboard {
    margin-left: 18% !important;
    margin-right: 2%;
    top: -28%;
}

.inner-stat {
    z-index: 0;
    display: inline-flex;
    position: relative;
    left: 18%;
    width: 80%;
}

.zein-card-title {
    font-size: 11.2pt;
    text-transform: uppercase;
}

.zein-card-text {
    color: #404040;
}

.zein-photo-profile {
    width: 35px;
}

.zein-username {
    font-size: 12pt;
    margin-left: 8px;
}

.zein-cursor-pointer {
    cursor: pointer;
}

.zein-search-input {
    width: 88%;
}

.zein-side-nav {
    max-height: 80%;
}

.dropdown-toggle::after {
    color: white
}

.zein-stat-icon {
    font-size: 25pt;
    padding: 15px;
    margin: 0;
    color: white
}

.zein-slims-logo {
    width: 35px;
    margin-left: 25px;
    margin-right: 10px;
}

svg.zein-slims-logo {
    fill: #007bff;
    align-items: center;
    position: absolute;
    top: 15px;
}

div[data-stat*="icon-"] {
    position: absolute; right: 15px;top: 25px;
}

div[data-stat="icon-collection"] {
    background: linear-gradient(87deg,#2dce89 0,#2dcecc 100%)!important;
}

div[data-stat="icon-item"] {
    background: linear-gradient(87deg,#ffbf00 0,#ff7e41 100%)!important;
}

div[data-stat="icon-lent"] {
    background: linear-gradient(109deg,#ff9e9e 0,#ff0000 100%)!important;
}

div[data-stat="icon-available"] {
    background: linear-gradient(109deg,#59c9ff 0,#009fdf 100%)!important;
}