body {
    background-color: #dddddd;
}

p {
    font-size: 10pt;
}

p.lead {
    font-size: 12pt;
}

.nopad {
    padding: 0;
}

.sidepan ul {
    list-style: none;
    padding: 0;
}

.sidepan > div > div > ul > li {
    padding: 0.5em 0.8em 0.5em 0.8em !important;
    font-size: .875rem;
    font-weight: 600;
    color: #3c3c3c;
}

.sidepan > div > ul > li:hover > a {
    color: white
}

.sidepan > div > ul > li:hover {
    background-color: #007bff;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.sidepan > div > ul > li > a > i {
    font-size: 1.3rem;
}

.sidepan-at-module {
    background-color: #f7f7f7;
}

ul.zein-side-nav > li > a {
    color: rgba(39, 39, 39, 0.822);
}

ul.zein-side-nav > li:hover {
    background-color: #007bff;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all .55s ease;
    will-change: transform;
}

ul.zein-side-nav > li:hover > a {
    color:white;
}

div.dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1,0);
}

div.dropdown-menu .show {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1,0);
}

li.active {
    background-color: #007bff;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}


li.active > a {
    color: white !important;
    font-weight: bold;
}

ul.zein-side-nav > span {
    font-size: 8pt;
}

ul.zein-side-nav > li > a > i {
    font-size: 14pt;
}


.h-screen {
    height: 100vh;
}

.inst-logo {
    min-height: 10%;
}

.content-area {
    background-color: #f1f1f1;
}

#zein-nav {
    width: 16%;
    top: 0;
    background-color: white;
}

#zein-header > .header-content {
    z-index: 1;
    display: inline-flex;
    position: relative;
    left: 17%;
    width: 80%;
}

.alert-dropdown:after {
    display: none !important;
}

.search-menu {
    background-image: url(../images/ios7-search.png);
    background-repeat: no-repeat;
    background-position: 93% center;
    background-size: 22px;
}

.search-target {
    min-width: 100% !important;
    left: -7px !important;
    max-height: 15em !important;
    overflow-y: auto !important;
}

.search-menu > div > input {
    border: none;
    outline: none;
    background: transparent;
}

.search-menu > input:focus {
    border: none;
    outline: none;
    background: transparent;
}

.mainContentDashboard {
    margin-left: 19% !important;
    margin-right: 3%;
    border-radius: 20px !important;
    background-color: transparent !important;
}

#transactionState, #collectionStat {
    height: 450px;
}

.mainContentDashboard > div > div > div > .statistic {
    border-radius: 20px !important;
}

@media screen and (width: 1366px) {
    .mainContentDashboard {
        top: -24vh;
    }
}

@media screen and (width: 1600px) {
    .mainContentDashboard {
        top: -28vh;
    }

    #mainContent:not(.mainContentDashboard) {
        margin-left: 15.9% !important;
    }
}


@media screen and (width: 1920px) {
    .mainContentDashboard {
        top: -34vh;
    }

    div#mainContent {
        margin-left: 15.9% !important;
    }
}

.inner-stat {
    z-index: 0;
    display: inline-flex;
    position: relative;
    left: 19%;
    width: 78%;
}

.zein-card-title {
    font-size: 9pt;
    text-transform: uppercase;
    font-weight: 500;
}

.zein-card-text {
    color: #404040;
}

.zein-photo-profile {
    width: 35px;
    height: 35px;
}

.zein-username {
    font-size: 12pt;
    margin-left: 8px;
}

.zein-cursor-pointer {
    cursor: pointer;
}

.zein-search-input {
    width: 88%;
}

.zein-side-nav {
    max-height: 80%;
}

.dropdown-toggle::after {
    color: white
}

.zein-stat-icon {
    font-size: 25pt;
    padding: 15px;
    margin: 0;
    color: white
}

.zein-slims-logo {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

svg.zein-slims-logo {
    fill: #999999;
    align-items: center;
    position: absolute;
    top: 15px;
}

.submenu {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.title {
    font-size: 10pt;
}

.alterCell.highlighted, .alterCell2.highlighted {
    background: #cfe8ff !important;
}

.editLink:before {
    content: "\F06FF";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 21.5pt;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}

div[data-stat*="icon-"] {
    position: absolute; right: 15px;top: 25px;
}

div[data-stat="icon-collection"] {
    background: linear-gradient(87deg,#2dce89 0,#2dcecc 100%)!important;
}

div[data-stat="icon-item"] {
    background: linear-gradient(87deg,#ffbf00 0,#ff7e41 100%)!important;
}

div[data-stat="icon-lent"] {
    background: linear-gradient(109deg,#ff9e9e 0,#ff0000 100%)!important;
}

div[data-stat="icon-available"] {
    background: linear-gradient(109deg,#59c9ff 0,#009fdf 100%)!important;
}

.cursor-pointer {
    cursor: pointer;
}

.authors {
    font-size: 10pt;
    color: #000000;
    font-weight: 500;
}

.card {
    border-radius: 20px !important;
}

.pagingList b {
    background: #007bff;
    border-color: #007bff;
}

.pagingList a {
    border-color: transparent;
    background-color: transparent;
    color: #9b9b9b;
}

.pagingList a:not(.next_link,.last_link):hover {
    background: #007bff;
    border-color: #007bff;
    color: white;
    border-radius: 100%;
}

.pagingList a[class*="_link"]:hover {
    background-color: transparent;
    color: #007bff;
}

.pagingList b {
    border-radius: 100%;
}

.pagingList {
    background-color: #dddddd;
    padding: 5px;
    border-radius: 20px;
}

.infoBox {
    background: #b1e4ff;
}

.errorBox {
    font-weight: bold;
    background-color: #ff3737;
    border-radius: 10px;
    margin: 10px 5px 0 5px !important;
}

.back-to-top:hover {
    color: white;
    cursor: pointer
}

#cboxTitle {
    background-color: #007bff;
}

.btn-group > .btn {
    margin: 0.7em;
}

#mainForm td {
    font-size: 10pt !important;
}